<% if cat.persisted? %>
  <form action="<%= cat_url(cat) %>" method = "POST">
    <input type ="hidden" name = "_method", value = "PATCH" />
<% else %>
  <form action="<%= cats_url %>" method = "POST">
<% end %>


  <label for="cat_name">Cat Name</label>
  <input type="text" id="cat_name" name="cat[name]" value= "<%= cat.name %>" />

  <br />

  <label for="cat_sex_M">Male</label>
  <input type="radio" id="cat_sex_M" value="M" name = "cat[sex]" <%= "checked" if cat.sex == 'M' %> />
  <label for="cat_sex_F">Female</label>
  <input type="radio" id="cat_sex_F" value="F" name = "cat[sex]" <%= "checked" if cat.sex == 'F' %> />

  <br />

  <label for="cat_color">Color </label>
  <select id="cat_color" name="cat[color]">
    <% unless cat.persisted? %>
      <option disabled selected>
        -- Please select color --
      </option>
    <% end %>
    <%Cat::COLORS.each do |color| %>
      <option value = "<%= color %>" <%= "selected" if cat.color == color %>> <%= color.capitalize %> </option>
    <% end %>
  </select>

  <br />

  <label for="cat_birthday">Birthday</label>
  <input type="date" id="cat_birthday" name="cat[birth_date]" value= "<%= cat.birth_date %>" />

  <br />

  <label for="cat_description">Description</label>
  <textarea id = "cat_description" name="cat[description]"> <%= cat.description %></textarea>

  <br />
  <br />

  <input type="submit" value= "<%= cat.persisted? ? "Update cat" : "Add cat" %>" />
</form>
