<h1><%= @cat.name %></h1>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th>Sex</th>
    <th>Age</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= @cat.name %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.age %></td>
    <td><%= @cat.description %></td>
  </tr>
</table>

<br>
<br>

<%= link_to "All cats", cats_url %>
<br />
<%= link_to "Edit cat", edit_cat_url(@cat) %>
